In [1]:
import pandas as pd
data = pd.read_csv("files_for_lab/Customer-Churn.csv")
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

#### SMOTE

In [3]:
# Data split

from sklearn.model_selection import train_test_split

X = pd.get_dummies(data.drop('Churn', axis=1))
y = data['Churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [4]:
# Apply SMOTE for upsampling the data

from imblearn.over_sampling import SMOTE

smote = SMOTE()
X_train, y_train = smote.fit_resample(X_train, y_train)
y_train.value_counts()

No     4139
Yes    4139
Name: Churn, dtype: int64

In [5]:
# Use logistic regression to fit the model and compute the accuracy of the model 

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

classification = LogisticRegression(random_state=42, max_iter=100000)
classification.fit(X_train, y_train)

lr_predictions = classification.predict(X_test)
lr_accuracy = accuracy_score(y_test, lr_predictions)
print ("Logistic regression accuracy:", lr_accuracy)

Logistic regression accuracy: 0.7913413768630234

In [6]:
# Use decision tree classifier to fit the model and compute the accuracy of the model.

from sklearn.tree import DecisionTreeClassifier
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
dt_predictions = decision_tree.predict(X_test)
dt_accuracy = accuracy_score(y_test, dt_predictions)
print ("Decision tree classifier accuracy:", dt_accuracy)

Decision tree classifier accuracy: 0.7494677075940384

#### TomekLinks

In [7]:
# Apply TomekLinks for downsampling
from imblearn.under_sampling import TomekLinks

X = pd.get_dummies(data.drop('Churn', axis=1))
y = data['Churn']

tomek = TomekLinks()
X_tl, y_tl = tomek.fit_resample(X, y)
y_tl.value_counts()

No     4722
Yes    1869
Name: Churn, dtype: int64

In [8]:
X_train_tl, X_test_tl, y_train_tl, y_test_tl = train_test_split(X_tl, y_tl, test_size=0.2, random_state=42)

In [9]:
# Use logistic regression to fit the model and compute the accuracy of the model 

classification_tl = LogisticRegression(random_state=42, max_iter=100000)
classification_tl.fit(X_train_tl, y_train_tl)

lr_predictions_tl = classification_tl.predict(X_test_tl)
lr_accuracy_tl = accuracy_score(y_test_tl, lr_predictions_tl)
print ("Logistic regression accuracy:", lr_accuracy_tl)

Logistic regression accuracy: 0.7915087187263078

In [10]:
# Use decision tree classifier to fit the model and compute the accuracy of the model.

decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train_tl, y_train_tl)
dt_predictions_tl = decision_tree.predict(X_test_tl)
dt_accuracy_tl = accuracy_score(y_test_tl, dt_predictions_tl)
print ("Decision tree classifier accuracy:", dt_accuracy_tl)

Decision tree classifier accuracy: 0.7824109173616376